<div class="w-100 ui card" *ngIf="list as list">
    <div class="content">
      <div class="header">
          <i class="shopping basket icon"></i>
          Einkauf für {{list.owner.first_name}}
        </div>
      </div>
          <div class="content" *ngIf="list.state === 'uebernommen' && list.volunteer">
            <div class="ui yellow button">übernommen von {{list.volunteer.first_name}}</div>
          </div>
          <div class="content" *ngIf="list.state === 'zugestellt' && list.volunteer">
            <div class="ui green button">zugestellt</div>
          </div>
    <div class="content">
      <h4 class="ui sub header">Items:</h4>
      <div class="ui small feed" >
        <div class="event" *ngFor="let item of list.shopping_items">
          <div class="content">
            <div class="summary">
              {{item.description}}<i>, x{{item.amount}}, max. Preis: {{item.max_cost}}€</i>
              <i class="delete icon red" (click)="deleteItem(item.id)" *ngIf="edit"></i>
            </div>
          </div>
        </div>
        <form class="ui form" (submit)="addItem()" [formGroup]="addItemForm" *ngIf="edit">
          <div class="four fields">
            <div class="field">
              <input type="text" name="description" placeholder="Beschreibung" formControlName="description">
            </div>
            <div class="field">
              <input type="number" name="amount" placeholder="Anzahl" formControlName="amount">
            </div>
            <div class="field">
              <input type="text" name="max_price" placeholder="maximaler Preis" formControlName="max_cost">
            </div>
            <div class="field">
              <button class="ui button" type="submit"><i class="add icon"></i>hinzufügen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Details:</h4>
      <div class="ui small feed">
        <div>
          <i class="user icon"></i>
          <span>{{list.owner.first_name}} {{list.owner.last_name}}</span>
      </div>
      <div>
        <i class="map marker alternate icon"></i>
        <span>{{list.owner.street}}, {{list.owner.post_code}} {{list.owner.city}}</span>
      </div>
      <div>
        <i class="calendar alternate outline icon"></i>
        <span>zu erledigen bis: {{list.fullfillment_date | date}}</span>
    </div>
    </div>
    </div>
    <div class="content">
      <h4 class="ui sub header">Kommentare:</h4>
      <div class="ui small feed">
        <co-comment [comments]="list.comments" [listId]="list.id"></co-comment>
      </div>
    </div>
    <!--role 0: owner, role 1: volunteer-->
    <div class="extra content" *ngIf="role === 0 && list.state !== 'zugestellt'">
      <button class="ui button red" *ngIf="list.state === 'offen'" (click)="deleteList()">
        <i class="delete icon"></i>
        Löschen
      </button>
        <button class="ui button orange" *ngIf="list.state === 'offen' && !edit" [routerLink]="'/shoppingLists/' + list.id + '/edit'">
          <i class="edit icon"></i>
          Bearbeiten</button>
    </div>
    <div class="extra content" *ngIf="role === 1 && list.state !== 'zugestellt'">
      <button class="ui button" *ngIf="list.state === 'offen'" (click)="acceptList()">Übernehmen</button>
        <button class="ui button" *ngIf="list.state === 'uebernommen'" (click)="orderShipped()">Zugestellt</button>
    </div>
  </div>
