<div class="m-16">
    <div class="ui grid">
        <div class="four wide column" *ngFor="let list of lists | async">
            <co-shopping-list [list]="list" (deleted)="updateLists()"></co-shopping-list>
        </div>
        <div class="four wide column">
            <co-list-form></co-list-form>
        </div>
    </div>
</div>