<div class="ui {{isLoggedIn()?'four':'three'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="shoppingLists" routerLinkActive="active" class="item">Shopping Lists</a>
  <a *ngIf="isLoggedIn()" routerLink="my-lists" routerLinkActive="active" class="item">Meine Listen</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>

<router-outlet></router-outlet>