/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
}

.m-16 {
    margin: 16px;
}

.w-100 {
    width: 100% !important;
}

.add-list-card {
    background-color: lightgray !important;
    display: flex;
    justify-content: center;
    padding: 150px 0 150px 0 !important;
}

.comment {
    padding: 8px;
}

.comment.you {
    background-color: lightblue;
    width: 40%;
    border-radius: 4px;
}

.comment.me {
    background-color: lightcyan;
    width: 40%;
    border-radius: 4px;
    margin-left: 60%;
}

.mb-4 {
    margin-bottom: 4px;
}

.mt-8 {
    margin-top: 8px;
}
