<div class="ui card w-100">
  <div class="content add-list-card center" *ngIf="!edit">
    <div class="ui inverted button" (click)="edit = true"><i class="add icon"></i>Neue Einkaufsliste erstellen</div>
    </div>
    <div *ngIf="edit" class="content">
        <div class="header">
          Neue Einkaufsliste erstellen
        </div>
      
      <form [formGroup]="listForm" class="ui form" (submit)="submitForm()" *ngIf="!list">
        <div class="field">
          <label>Zu erledigen bis:</label>
          <input type="text" formControlName="fullfillment_date" placeholder="JJJJ-MM-TT HH:MM">
          <button type="submit" class="ui button" [disabled]="listForm.invalid">neue Liste erstellen</button>
        </div>
      </form>
      <button class="ui button" *ngIf="list" [routerLink]="'/shoppingLists/' + list.id + '/edit'"><i class="add icon"></i>Items hinzufügen</button>
    </div>
</div>