<div class="ui list">
    <div class="item clickable" *ngFor="let list of (shoppingLists | async)" [routerLink]="list.id">
      <i class="shopping basket icon"></i>
      <div class="content">
        <div class="header">Einkauf für {{list.owner.first_name}}</div>
        <div class="description">
            <div>
                <i class="calendar alternate outline icon"></i>
                <span>zu erledigen bis: {{list.fullfillment_date | date}}</span>
            </div>
            <div>
                <i class="map marker alternate icon"></i>
                <span>abzuliefern in {{list.owner.city}}</span>
            </div>
            <div>
                <i class="user icon"></i>
                <span>{{list.owner.first_name}} {{list.owner.last_name}}</span>
            </div>
        </div>
      </div>
  </div>
</div>