<div *ngFor="let comment of comments" class="mb-4">
    <div *ngIf="userId === comment.user_id" class="left" class="comment me">{{comment.content}}</div>
    <div *ngIf="userId !== comment.user_id" class="left" class="comment you">{{comment.content}}</div>
</div>
<form [formGroup]="commentForm" class="ui form" (submit)="submitComment()">
    <div class="ui action input">
        <input type="text" placeholder="Kommentar..." formControlName="content">
        
        <button class="ui button" type="submit">
            <i class="send icon" *ngIf="!loading"></i>
            <i class="spinner loading icon" *ngIf="loading"></i>
        </button>
    </div>
</form>